@import url("https://fonts.googleapis.com/css2?family=Pacifico&family=Poppins:ital,wght@0,100;0,300;0,500;1,700&display=swap");

:root {
  --orange: #dc7647;
  --brown: #55433b;
  --white: #f3f3f3;
}

body {
  background-color: #5c5b62;
}

.about-app {
  padding: 50px 30px 50px 20px;
}

.intro {
  padding-right: 40px;
}

.justify-content-md-center {
  max-height: 300px;
  border-radius: 150px;
}

.img2 {
  max-height: 100px;
  /* border-radius: 150px; */
}

.home h1 {
  /* font-family: "Pacifico"; */
  letter-spacing: 0.5px;
}

.heading {
  color: var(--orange);
}

.experience {
  /* padding-top: 50px; */
}

.custom-shape-divider-bottom-1669850492 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1669850492 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 123px;
}

.custom-shape-divider-bottom-1669850492 .shape-fill {
  fill: var(--orange);
}

p {
  color: #c1a690;
}
