.projlink {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  color: white;
}

ul {
  color: #c1a690;
}

.works {
  display: flex;
  justify-content: center;
  height: 300px;
  width: 400px;
}

.link {
  display: flex;
  justify-content: center;
}
