.resume {
  color: black;
  background-color: white;
  display: flex;
  justify-content: center;
}

.downloadlink {
  display: flex;
  justify-content: center;
  background-color: white;
  size: 3em;
}

.download-text {
  background-color: white;
}

p {
  display: flex;
  justify-content: center;
  margin-right: 40px;
}

h1 {
  text-decoration: underline;
}
